<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        
      </div>
      <% if(!username){%>

        <form class="navbar-nav" action="/login" method="POST">
          <input class="navbar-nav" type="text" name="username" placeholder="Username"
            style="width: 100px; margin: 1em; size: 30px;">
          <button type="submit" class="btn btn-primary" style="width: 80px; margin: 1em; size: 30px;">Login</button>
        </form>
      <%} else{ %>
       <h3> <%= username %></h3>
       <form class="navbar-nav" action="/logout" method="POST">
        <button type="submit" class="btn btn-primary" style="width: 80px; margin: 1em; size: 30px;">Logout</button>
      </form>
     <% } %>
    </div>
  </nav>
</header>